*{
	margin:0px;
	padding: 0px;
}
body{
	width:100%;
	height: 680px;
}
#log{
	width: 100%;
	height: 680px;
    background-image: url(images/logoYR.png);
	background-size: cover;
	
}
#login{
	position: absolute;
	top: 80px;
	left: 60%;
	width: 310px;
	height: 460px;
	background: white;
	border: 1px solid black;
	padding-top: 40px;
	padding-left: 30px;
}
#login input{
    margin-top: 30px;
}
#login form input{
	width: 265px;
	height: 40px;
	border: 1px solid #05D1D3;
}
#login form button{
	width: 265px;
	height: 40px;
	display: block;
	margin-top: 60px;
    background:#dc3c00;
    border: 1px solid #dc3c00;
    color: white;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    margin-bottom: 30px;
}
#login form button:hover{
    background:#b43200;
    border: 1px solid #b43200;
}