*{
	margin: 0px;
	padding: 0px;
}
body {
  margin:0px;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
a{
  text-decoration:none;
  color:black;
  font-weight: 100;
}
p{
	font-family:'Arial Normal', 'Arial';
	text-align:center;
}
.nav{
    width:1370px;  
    height: 100px;
    margin-left: 5px;
    margin-top: 10px;
    border:solid 1px #ccc;
    font-size: 20px;
    color:black;

}
.logo{
	margin-right: 120px;
    margin-left: 60px;
    float:left;
}
.home-logo{
	margin-top: 10px;
	margin-bottom: 10px;
	width:160px;
	height:50px;
	background-image:url(images/logo.png);
	background-size:cover; 
}
.nav-bar{
	margin-top:40px;
	margin-right: 270px;
	float:left;
}
.nav-bar ul li{
    float:left;
    font-size: 24px;
    list-style: none;
    margin-left: 60px;
}
.login{
	margin-top: 40px;
	margin-left: 50px;
}
.banner{
	width:1370px;
	height:350px;
	border:solid 1px #ccc;
	margin-top:50px;
}
.introduce{
	padding-top: 25px;
	font-size: 24px;
	width: 1370px;
	height: 290px;
	margin-top: 20px;
	border:solid 1px #ccc;
}
.js{
	float:left;
	width: 130px;
	height: 180px;
	margin-left: 180px;
}
#module{
	height: 1225px;
	width: 1370px;
}
.status{
	width: 935px;
	height: 1225px;
	float: left;
	padding-left: 25px;
	padding-top: 30px;
	border:solid 1px #ccc;
	margin-top: 20px;
} 
.list ul li{
	float: left;
	list-style: none;
}
#item ul li{
	margin-right: 40px;
}
#item ul li:nth-child(1){
    margin-right: 100px;
}
#status{
	margin-top: 40px;
}
#status ul li{
	margin-right: 110px;
}
#status ul li:nth-child(1){
    margin-right: 120px;
}
.pic{
	margin-top: 40px;
	left: 12px;
	position: absolute;
}
.box{
	width: 920px;
	height: 320px;
	background: #EAEAEA;
	margin-top: 25px;
	padding-left: 20px;
	padding-top: 15px;
}
.box img,.box .text{
	height: 280px;
}
.box .text{
	width: 495px;
	background: white;
	margin-left: 400px;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 24px;
}

.rate{
	width: 460px;
	height: 25px;
	background-image: url(images/rate1.png);
	background-size:460px 25px;
}
.rate h6{
	text-align:center;
	font-size: 14px;
}
#one img{
	width: 400px;
	float: left;
}
#two img,#three img{
    width: 895px;
}
.context{
	width: 460px;
	height: 100px;
	background: #F7F7F7;
	font-size: 20px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-left: 10px;
}
.text p,.context p{
	text-align: left;
}
.data{
	width: 140px;
	height: 60px;
	float: left;
}
.data h6{
    font-size: 24px;
    text-align: center;
}
.data p{
    font-size: 18px;
    text-align: center;
}
.conduct{
	width: 435px;
	height: 1225px;
	position: absolute;
	left:925px;
	padding-left: 30px;
	margin-top: 20px;
}
#sjbb{
	height: 250px;
}
#zxzx,#wxgzh{
	height: 300px;
	margin-top: 30px;
}
#zxtz{
	height:295px;
	margin-top: 20px;
}
.msg{
	padding-left: 10px;
	padding-top: 5px;
	width: 410px;
	border:solid 1px #ccc;
	font-size: 20px;
}
.msg span{
	font-size: 24px;
	font-weight:200;
}
.book{
	margin-top: 15px;
}
.book img{
	width: 80px;
	height: 80px;
	display: block;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
}
.book h5{
	font-size: 42px;
	font-weight: 500;
	color: #0099FF;
}
.book h6{
	font-size: 18px;
}
#zx ul li{
	font-weight: 100;
	margin-top: 20px;
}
#zx{
	padding-left: 25px;

}
#tz ul li{
	font-weight: 100;
	margin-top: 20px;
	list-style: none;
}
#tz{
	padding-left: 15px;

}
#tz ul li b{
	color:#FF6A00;
}
#wxgzh img{
	width: 225px;
	height: 225px;
	display: block;
	margin-top: 10px;
	margin-left: 80px;
}
#hzhb{
	height: 190px;
	width: 1370px;
	margin-top: 50px;
	border:solid 1px #ccc;
	padding-top: 10px;
	padding-left: 15px;
}
#hzhb h5{
	font-size: 24px;
}
#hzhb img{ 
	width: 1320px;
	height: 75px;
}
.footer{
	width: 1370px;
	height: 220px;
	background: #444B65;
	margin-top: 15px;
	padding-top: 30px;
	padding-left: 100px;
}
.footer .about{
	color: #fff;
	float: left;
	margin-right: 113px;
}
#wx{
	height: 160px;
	width: 130px;
	float: left;
	margin-right: 80px;
}
#wx p{
	font-size: 12px;
	color: #808696;
}
#img{
	height: 130px;
	width: 130px;
	padding-left: 10px;
	padding-top: 10px;
	background: white;
	margin-bottom: 5px;
}
#img img{
	height: 110px;
	width: 110px;
}
.footer .about ul li {
    list-style: none;
    margin-bottom: 10px;
    color:white;
    font-size: 14px;
}
.footer .about ul li:nth-child(1){
	font-size: 18px;
}
.footer .about ul li a{
	color:#808696;
}